# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
*.bak
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment & Secret Files
.env
.env.*
!.env.example
key.properties
*.keystore
*.jks
*.p12
*.pem

# IDEs & Editors
*.iml
*.ipr
*.iws
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
app.*.symbols
app.*.map.json

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java
android/.cxx/
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/Runner/GeneratedPluginRegistrant.*
ios/DerivedData/
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/*sync/
ios/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# macOS
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/flutter_export_environment.sh
macos/Flutter/.last_build_id
macos/xcuserdata/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
